services:
    books-service: 
        image: "${DOCKER_USERNAME}/books:${GITHUB_SHA}"
        ports:
            - "8081:8081"
        networks:
          docker-ms:
            aliases:
              - books-service
        deploy:
          replicas: 1
          restart_policy:
            condition: on-failure
          placement:
            constraints:
              - node.labels.role == apis
            
networks:
  docker-ms:
    external: true